<div th:fragment="reservationButtons(classId, classTypeName, className, instructorName, startTime, endTime, date, reservation_id, isReserved, past)">
    <!-- 예약된 경우 -->
    <div th:if="${isReserved == 1}">
        <span class="text-reserved">
            <i class="bi bi-check-circle-fill me-1"></i> 예약중
        </span><br>
        <button type="button"
                th:if="${!past}"
                class="btn-cancel open-cancel-modal"
                data-bs-toggle="modal"
                data-bs-target="#reserveModal"
                th:attr="data-class-id=${classId},
                         data-class-type-name=${classTypeName},
                         data-class-name=${className},
                         data-class-instructor-name=${instructorName},
                         data-class-start-time=${startTime},
                         data-class-end-time=${endTime},
                         data-class-date=${date},
                         data-reservate-id=${reservation_id}">
            예약취소
        </button>
    </div>

    <!-- 예약 안된 경우 -->
    <button type="button"
            th:if="${isReserved != 1} and ${!past}"
            class="btn-reserve mt-1 open-reserve-modal"
            data-bs-toggle="modal"
            data-bs-target="#reserveModal"
            th:attr="data-class-id=${classId},
                     data-class-type-name=${classTypeName},
                     data-class-name=${className},
                     data-class-instructor-name=${instructorName},
                     data-class-start-time=${startTime},
                     data-class-end-time=${endTime},
                     data-class-date=${date}">
        예약하기
    </button>
</div>
