<div th:fragment="reservationButtons(classId, classTypeName, className, instructorName, startTime, endTime, date, reservation_id, isReserved, past, has_waiting)">
    <!-- 예약 가능한 수업의 경우 -->
    <button type="button"
            th:if="${isReserved != 1} and ${!past} and ${!has_waiting}"
            class="btn-reserve mt-1 open-reserve-modal"
            data-bs-toggle="modal"
            data-bs-target="#reserveModal"
            th:attr="data-class-id=${classId},
                 data-class-type-name=${classTypeName},
                 data-class-name=${className},
                 data-class-instructor-name=${instructorName},
                 data-class-start-time=${startTime},
                 data-class-end-time=${endTime},
                 data-class-date=${date}"
            th:text="예약하기">
        예약하기
    </button>

    <!-- 정원초과 수업인 경우 -->
    <button type="button"
            th:if="${isReserved != 1} and ${!past} and ${has_waiting}"
            class="btn-reserve-wait mt-1 open-reserve-wait-modal"
            data-bs-toggle="modal"
            data-bs-target="#reserveModal"
            th:attr="data-class-id=${classId},
                 data-class-type-name=${classTypeName},
                 data-class-name=${className},
                 data-class-instructor-name=${instructorName},
                 data-class-start-time=${startTime},
                 data-class-end-time=${endTime},
                 data-class-date=${date}"
            th:text="대기예약하기">
        대기예약하기
    </button>

    <!-- 예약된 수업의 경우 -->
    <div th:if="${isReserved == 1}">
        <span class="text-reserved">
            <i class="bi bi-check-circle-fill me-1"></i> 예약중
        </span><br>
        <button type="button"
                th:if="${!past} and ${!has_waiting}"
                class="btn-cancel open-cancel-modal"
                data-bs-toggle="modal"
                data-bs-target="#reserveModal"
                th:attr="data-class-id=${classId},
                         data-class-type-name=${classTypeName},
                         data-class-name=${className},
                         data-class-instructor-name=${instructorName},
                         data-class-start-time=${startTime},
                         data-class-end-time=${endTime},
                         data-class-date=${date},
                         data-reservate-id=${reservation_id}">
            예약취소
        </button>
    </div>

    <!-- 예약된 정원초과 수업의 경우 -->
    <button type="button"
            th:if="${isReserved == 1} and ${!past} and ${has_waiting}"
            class="btn-cancel mt-1 open-cancel-wait-modal"
            data-bs-toggle="modal"
            data-bs-target="#reserveModal"
            th:attr="data-class-id=${classId},
                         data-class-type-name=${classTypeName},
                         data-class-name=${className},
                         data-class-instructor-name=${instructorName},
                         data-class-start-time=${startTime},
                         data-class-end-time=${endTime},
                         data-class-date=${date},
                         data-reservate-id=${reservation_id}"
            th:text="대기예약취소하기">
        대기예약취소하기
    </button>
</div>
