<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BaseProject.dao.ClassInfoMapper">
    <select id="select" parameterType="int" resultType="ClassInfoDto">
        select ClassInfo.id,
               ClassInfo.class_point_id,
               ClassInfo.instructor_id,
               ClassInfo.class_type_id,
               ClassInfo.class_time_id,
               ClassInfo.reservation_cnt,
               ClassType.class_type_name,
               ClassType.class_name,
               ClassPoint.class_point_name,
               ClassPoint.class_point_maximum,
               InstInfo.instructor_name,
               ClassInfo.class_date,
               ClassTime.class_start_time,
               ClassTime.class_end_time,
               ClassType.class_memo,
               ClassInfo.create_dt,
               ClassInfo.update_dt,
               ClassInfo.updated
        from class_info as ClassInfo
                 inner join class_type as ClassType on ClassInfo.class_type_id = ClassType.id
                 inner join class_point as ClassPoint on ClassInfo.class_point_id = ClassPoint.id
                 inner join class_time as ClassTime on ClassInfo.class_time_id = ClassTime.id
                 inner join instructor_info as InstInfo on ClassInfo.instructor_id = InstInfo.id
        where ClassInfo.id = #{id}
    </select>

    <select id="getClassByDateAndTime" parameterType="map" resultType="ClassInfoDto">
        select ClassInfo.id,
               ClassInfo.reservation_cnt,
               ClassType.class_type_name,
               ClassType.class_name,
               ClassPoint.class_point_name,
               ClassPoint.class_point_maximum,
               InstInfo.instructor_name,
               ClassInfo.class_date,
               ClassTime.class_start_time,
               ClassTime.class_end_time,
               ClassType.class_memo,
               ClassInfo.create_dt,
               ClassInfo.update_dt,
               ClassInfo.updated,
               CASE WHEN ReservationInfo.user_id IS NOT NULL THEN 1 ELSE 0 END as isReserved
        from class_info as ClassInfo
                 inner join class_type as ClassType on ClassInfo.class_type_id = ClassType.id
                 inner join class_point as ClassPoint on ClassInfo.class_point_id = ClassPoint.id
                 inner join class_time as ClassTime on ClassInfo.class_time_id = ClassTime.id
                 inner join instructor_info as InstInfo on ClassInfo.instructor_id = InstInfo.id
                 left join user_reservation as ReservationInfo on ClassInfo.id = ReservationInfo.class_id
            and ReservationInfo.user_id = #{userId} and ReservationInfo.cancel_flag != 1
        WHERE class_date = #{class_date}
          AND class_start_time = #{class_start_time}
    </select>

    <select id="getSearchData" parameterType="map" resultType="ClassInfoDto">
        select ClassInfo.id,
        ClassInfo.reservation_cnt,
        ClassType.class_type_name,
        ClassType.class_name,
        ClassPoint.class_point_name,
        ClassPoint.class_point_maximum,
        InstInfo.instructor_name,
        ClassInfo.class_date,
        ClassTime.class_start_time,
        ClassTime.class_end_time,
        ClassType.class_memo,
        ClassInfo.create_dt,
        ClassInfo.update_dt,
        ClassInfo.updated,
        CASE WHEN ReservationInfo.user_id IS NOT NULL THEN 1 ELSE 0 END as isReserved
        from class_info as ClassInfo
        inner join class_type as ClassType on ClassInfo.class_type_id = ClassType.id
        inner join class_point as ClassPoint on ClassInfo.class_point_id = ClassPoint.id
        inner join class_time as ClassTime on ClassInfo.class_time_id = ClassTime.id
        inner join instructor_info as InstInfo on ClassInfo.instructor_id = InstInfo.id
        left join user_reservation as ReservationInfo
        on ClassInfo.id = ReservationInfo.class_id
        and ReservationInfo.user_id = #{userId} and ReservationInfo.cancel_flag != 1
        <where>
            STR_TO_DATE(CONCAT(class_date, ' ', class_start_time), '%Y-%m-%d %H:%i') > NOW()

            <if test="searchClassDate != null and searchClassDate != ''">
                AND class_date = #{searchClassDate}
            </if>

            <if test="searchClassName != null and searchClassName != ''">
                AND class_name = #{searchClassName}
            </if>

            <if test="searchInstructor != null and searchInstructor != ''">
                AND instructor_name = #{searchInstructor}
            </if>
        </where>
        ORDER BY class_date asc, class_start_time asc
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="hasMore" parameterType="map" resultType="int">
        SELECT 1
        from class_info as ClassInfo
        inner join class_type as ClassType on ClassInfo.class_type_id = ClassType.id
        inner join class_point as ClassPoint on ClassInfo.class_point_id = ClassPoint.id
        inner join class_time as ClassTime on ClassInfo.class_time_id = ClassTime.id
        inner join instructor_info as InstInfo on ClassInfo.instructor_id = InstInfo.id
        <where>
            STR_TO_DATE(CONCAT(class_date, ' ', class_start_time), '%Y-%m-%d %H:%i') > NOW()

            <if test="searchClassDate != null and searchClassDate != ''">
                AND class_date = #{searchClassDate}
            </if>

            <if test="searchClassName != null and searchClassName != ''">
                AND class_name = #{searchClassName}
            </if>

            <if test="searchInstructor != null and searchInstructor != ''">
                AND instructor_name = #{searchInstructor}
            </if>

        </where>
        LIMIT 1 OFFSET #{offset}
    </select>

</mapper>