<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BaseProject.dao.InstructorMapper">
    <select id="selectAll" resultType="InstructorDto">
        select id, class_point_id, instructor_name
        from instructor_info
    </select>
</mapper>