<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BaseProject.dao.UserMapper">
    <select id="select" parameterType="map" resultType="UserDto">
        SELECT id, email, name, password
        FROM user
        WHERE email = #{email} AND password = #{password}
    </select>

    <update id="updateLoginInfo" parameterType="map">
        UPDATE user
        SET last_login_dt = NOW()
        WHERE email = #{email} AND password = #{password}
    </update>

    <insert id="insert" parameterType="map">
        INSERT INTO user
        (email, name, password)
        VALUES
            (#{email}, #{name}, #{password})
    </insert>

</mapper>