<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BaseProject.dao.UserReservationMapper">
    <select id="select" parameterType="map" resultType="UserReservationDto">
        select *
        from user_reservation
        where user_id = #{user_id} and class_id = #{class_id}
    </select>

    <insert id="insert" parameterType="UserReservationDto">
        INSERT INTO user_reservation
        (user_id, class_id)
        VALUES
            (#{user_id}, #{class_id})
    </insert>

    <update id="update" parameterType="map">
        UPDATE user_reservation
        SET cancel_flag = '1'
        WHERE user_id = #{user_id} and class_id = #{class_id}
    </update>

    <select id="selectReservedClassIdsByUser" parameterType="int" resultType="int">
        SELECT class_id
        FROM user_reservation
        WHERE user_id = #{userId} and cancel_flag = 0
    </select>

    <select id="selectReservedClassByUser" parameterType="int" resultType="UserReservationDto">
        SELECT UR.*, CTY.class_type_name, CTY.class_name, CP.class_point_name, II.instructor_name, CT.class_start_time, CT.class_end_time, CI.class_date
        FROM user_reservation AS UR
        INNER JOIN post.class_info AS CI ON UR.class_id = CI.id
        INNER JOIN post.class_type AS CTY ON CI.class_type_id = CTY.id
        INNER JOIN post.class_point AS CP ON CI.class_point_id = CP.id
        INNER JOIN post.class_time AS CT ON CI.class_time_id = CT.id
        INNER JOIN post.instructor_info AS II ON CI.instructor_id = II.id
        WHERE UR.user_id = #{userId} and UR.cancel_flag = 0
        ORDER BY CI.class_date
        LIMIT 3
    </select>
</mapper>