<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BaseProject.dao.UserMapper">
    <select id="select" parameterType="map" resultType="UserDto">
        select id, email, name, password
        from user
        where email = #{email} and password = #{password}
    </select>

    <insert id="insert" parameterType="map">
        INSERT INTO user
        (email, name, password)
        VALUES
            (#{email}, #{name}, #{password})
    </insert>

</mapper>