<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BaseProject.dao.UserReservationMapper">
    <select id="select" parameterType="map" resultType="UserReservationDto">
        select *
        from user_reservation
        where user_id = #{user_id} and class_id = #{class_id}
    </select>

    <insert id="insert" parameterType="UserReservationDto">
        INSERT INTO user_reservation
        (user_id, class_id)
        VALUES
            (#{user_id}, #{class_id})
    </insert>

    <update id="update" parameterType="map">
        UPDATE user_reservation
        SET cancel_flag = '1'
        WHERE user_id = #{user_id} and class_id = #{class_id}
    </update>

    <select id="selectReservedClassIdsByUser" parameterType="int" resultType="int">
        SELECT class_id
        FROM user_reservation
        WHERE user_id = #{userId} and cancel_flag = 0
    </select>
</mapper>