<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.BaseProject.dao.UserReservationMapper">
    <!--예약 쿼리-->
    <insert id="insert" parameterType="UserReservationDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_reservation
            (user_id, class_id)
        VALUES (#{user_id}, #{class_id})
    </insert>

    <!--예약 취소 쿼리-->
    <update id="update" parameterType="UserReservationDto">
        UPDATE user_reservation
        SET cancel_flag = '1'
        WHERE user_id = #{user_id}
          and id = #{id}
    </update>

    <!--예약 일람 표시 쿼리-->
    <select id="selectAllReservedClassByUser" parameterType="int" resultType="UserReservationDto">
        SELECT UR.id as reservation_id,
               UR.*,
               CTY.class_type_name,
               CTY.class_name,
               CP.class_point_name,
               II.instructor_name,
               CT.class_start_time,
               CT.class_end_time,
               CI.class_date
        FROM user_reservation AS UR
                 INNER JOIN post.class_info AS CI ON UR.class_id = CI.id
                 INNER JOIN post.class_type AS CTY ON CI.class_type_id = CTY.id
                 INNER JOIN post.class_point AS CP ON CI.class_point_id = CP.id
                 INNER JOIN post.class_time AS CT ON CI.class_time_id = CT.id
                 INNER JOIN post.instructor_info AS II ON CI.instructor_id = II.id
        WHERE UR.user_id = #{userId}
        ORDER BY UR.create_dt desc, CI.class_date desc, CT.class_start_time
            LIMIT #{size}
        OFFSET #{offset}
    </select>

    <!--예약 일람 더보기 쿼리-->
    <select id="hasMore" parameterType="map" resultType="int">
        SELECT 1
        from user_reservation
        WHERE user_id = #{user_id} LIMIT 1
        OFFSET #{offset}
    </select>

    <!--톱 페이지 예약 일람 표시 쿼리-->
    <select id="selectReservedClassByUser" parameterType="int" resultType="UserReservationDto">
        SELECT UR.id       as reservation_id,
               UR.user_id  as user_id,
               UR.class_id as class_id,
               CTY.class_type_name,
               CTY.class_name,
               CP.class_point_name,
               II.instructor_name,
               CT.class_start_time,
               CT.class_end_time,
               CI.class_date
        FROM user_reservation AS UR
                 INNER JOIN post.class_info AS CI ON UR.class_id = CI.id
                 INNER JOIN post.class_type AS CTY ON CI.class_type_id = CTY.id
                 INNER JOIN post.class_point AS CP ON CI.class_point_id = CP.id
                 INNER JOIN post.class_time AS CT ON CI.class_time_id = CT.id
                 INNER JOIN post.instructor_info AS II ON CI.instructor_id = II.id
        WHERE UR.user_id = #{userId}
          and UR.cancel_flag = 0
        ORDER BY CI.class_date desc, CT.class_start_time desc LIMIT 3
    </select>

    <!--메일 전송용 수업 정보 취득 쿼리-->
    <select id="selectClassById" parameterType="int" resultType="UserReservationDto">
        SELECT UR.*,
               US.email,
               US.name,
               UR.user_id as user_id,
               CTY.class_type_name,
               CTY.class_name,
               CP.class_point_name,
               II.instructor_name,
               CT.class_start_time,
               CT.class_end_time,
               CI.class_date,
               CI.id      as class_id
        FROM user_reservation AS UR
                 INNER JOIN post.class_info AS CI ON UR.class_id = CI.id
                 INNER JOIN post.class_type AS CTY ON CI.class_type_id = CTY.id
                 INNER JOIN post.class_point AS CP ON CI.class_point_id = CP.id
                 INNER JOIN post.class_time AS CT ON CI.class_time_id = CT.id
                 INNER JOIN post.instructor_info AS II ON CI.instructor_id = II.id
                 INNER JOIN post.user AS US ON UR.user_id = US.id
        WHERE UR.id = #{reservation_id}
    </select>
</mapper>